<%= form_with(model: student, url: admin_course_students_path, local: true, class: "form-horizontal") do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= form.label :student_Id, class: "control-label col-md-2"  %>
    <div class="col-md-4">
      <%= form.number_field :student_id, min:0, :required => true, class: "form-control"  %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :name, class: "control-label col-md-2" %>
    <div class="col-md-4">
      <%= form.text_field :name, :required => true, class: "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-4">
      <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
        Create Student
      <% end %>
    </div>
  </div>
<% end %>





