<h1>Update Student</h1>

<%= form_for @student, url: {:action => "update"}, student_id: @student_id do |form| %>

  <div class="actions">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit "Update Student" %>
  </div>
<% end %>

<%= link_to 'Show', @student %> 
