<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
<%= link_to 'New Quiz Result', new_student_quiz_result_path(@quiz_result, student_id: @student.student_id) %>
<%= @student.student_id %>
<% @student.quiz_results.order("created_at DESC").each do |r| %>
  <p> <%= r.created_at %> </p>
<% end %>
