<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
<br>
<p> Category: <%= @student.category %> </p>
<% if not current_admin %> 
  <%= link_to 'Take Quiz', new_student_quiz_result_path(@quiz_result, student_id: @student.student_id), class: 'btn btn-primary' %>
<% end %>

<% @quiz_results.each do |r| %>
  <hr>
  <p> <b>Contributor:</b> <%= r.contributor %></p>
  <p> <b>Collaborator:</b> <%= r.collaborator %></p>
  <p> <b>Communicator:</b> <%= r.communicator %></p>
  <p> <b>Challenger:</b> <%= r.challenger %></p>
  <p> <b>Reflection: </b> <%= simple_format(r.reflection) %> </p>
  <% if not current_admin %>
    <p> <%= link_to "Edit Reflection", student_quiz_result_path(r, student_id: @student.student_id) %> </p>
  <% end %>
<% end %>
