<% if not current_admin %> 
  <h4> Hello, <%= @student.name %> </h4>
  <p><%= get_description(@student.category) %></p>
  <%= link_to 'Take Quiz', new_student_quiz_result_path(@quiz_result, student_id: @student.student_id), class: 'btn btn-primary' %>
<% else %>
  <h4> Student: <%= @student.name %> </h4>
<% end %>

<br>
<h4> Quiz Results </h4>
<hr>

<% if @student.quiz_results.empty? %>
<h1> No Quiz Results Available</h1>
<%end%>
<% @student.quiz_results.order("created_at DESC").each do |r| %>
  <p><%= r.created_at %></p>
  <div class="table-responsive" >
    <table class="table">
      <thead>
        <tr>
          <th>Contributor</th>
          <th>Collaborator</th>
          <th>Communicator</th>
          <th>Challenger</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= r.contributor %></td>
          <td><%= r.collaborator %></td>
          <td><%= r.communicator %></td>
          <td><%= r.challenger %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <p> <b>Category:</b> <%= get_category(r) %> </p>
  <% if r.reflection %>
    <p> <b>Reflection: </b> <%= simple_format(r.reflection) %> </p>
    <% if not current_admin %>
      <%= link_to "Edit Reflection", edit_student_quiz_result_path(r, student_id: @student.student_id), class: 'btn btn-info' %>
    <% end %>
  <% else %>
    <% if not current_admin %>
      <%= link_to "Add Reflection", edit_student_quiz_result_path(r, student_id: @student.student_id), class: 'btn btn-info' %>
    <% else %>
      <p><b>No Reflection</b></p>
    <% end %>
  <% end %>
  <%= link_to "View Results", student_quiz_result_path(r, student_id: @student.student_id), class: 'btn btn-info' %>
  <hr>
<% end %>
<p style="padding-bottom: 30px;"">