<p id="notice"><%= notice %></p>


<%= form_for @quiz_result, url: {:action => "update"}, student_id: @quiz_result.student_id, result_id: @quiz_result.result_id do |form| %>
  <% if @quiz_result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.quiz_result.errors.count, "error") %> prohibited this quiz_result from being saved:</h2>

      <ul>
      <% @student.quiz_result.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h1 align="center"> Quiz Result </h1>
  <br>
  <div class="table-responsive" >
    <table class="table">
      <thead>
        <tr>
          <th>Contributor</th>
          <th>Collaborator</th>
          <th>Communicator</th>
          <th>Challenger</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @quiz_result.contributor %></td>
          <td><%= @quiz_result.collaborator %></td>
          <td><%= @quiz_result.communicator %></td>
          <td><%= @quiz_result.challenger %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <br>
  <h4> Contributor: <%= get_contributor_description() %> </h4>
  <br>
  <h4> Collaborator: <%= get_collaborator_description() %> </h4>
  <br>
  <h4> Communicator: <%= get_communicator_description() %> </h4>
  <br>
  <h4> Challenger: <%= get_challenger_description() %> </h4>
  <br>
  <div class="field">
    <%= form.label :reflection %>
    <br>
    <%= form.text_area :reflection, result_id: @quiz_result.result_id, rows: "50", cols: "120" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Back', student_path(@quiz_result.student_id) %>

