<p id="notice"><%= notice %></p>

<h1>Quiz Results</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quiz_results.each do |quiz_result| %>
      <tr>
        <td><%= link_to 'Show', quiz_result %></td>
        <td><%= link_to 'Edit', edit_quiz_result_path(quiz_result) %></td>
        <td><%= link_to 'Destroy', quiz_result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quiz Result', new_quiz_result_path %>
