<p id="notice"><%= notice %></p>

<%= form_with(url: {action: 'update', controller: "quiz_results", student_id: @quiz_result.student.student_id, result_id: @quiz_result.result_id}, model: @quiz_result, local: true) do |form| %>
  <% if @quiz_result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.quiz_result.errors.count, "error") %> prohibited this quiz_result from being saved:</h2>

      <ul>
      <% @student.quiz_result.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :reflection %>
    <%= form.text_area :reflection, result_id: @quiz_result.result_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Edit', edit_student_quiz_result_path(@quiz_result) %> |
<%= link_to 'Back', student_path(@quiz_result.student) %>
