<p id="notice"><%= notice %></p>


<%= form_for @quiz_result, url: {:action => "update"}, student: @quiz_result.student, student_id: @quiz_result.student_id, result_id: @quiz_result.result_id do |form| %>
  <% if @quiz_result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quiz_result.errors.count, "error") %> prohibited this quiz_result from being saved:</h2>

      <ul>
      <% @quiz_result.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :reflection %>
    <br>
    <%= form.text_area :reflection, result_id: @quiz_result.result_id, student: @quiz_result.student, rows: "50", cols: "120" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Back', student_path(@quiz_result.student_id) %>

