<p id="notice"><%= notice %></p>
<h4> <%= @course.name %> Section: <%= @course.section %> <%= @course.semester %> <%= @course.year %> </h4>

<h1>Students</h1>
<div class="table-responsive">
  <table class="table table-hover">
    <tbody>
      <% @course.students.each do |student| %>
        <tr>
          <td style="padding-right: 5em"><%= link_to student.name, student_path(student, course_id: @course.id) %></td>
          <td><%= link_to 'Edit', edit_student_path(student, course_id: @course.id,  admin_id: current_admin.id) %></td>
          <td><%= link_to 'Remove', enrollment_path(Enrollment.find_by(student_id: student.id, course_id: @course.id)), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to 'Add Student', new_admin_course_student_path(@student, course_id: @course.id, admin_id: current_admin.id), class: 'btn btn-primary' %>
<%= link_to "Export Data", admin_course_path(@course, admin_id: @course.admin.id, format: "csv"), class: "btn btn-primary" %>
<%= link_to 'Delete Course', admin_course_path([@course, current_admin]), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
<br>
<br>
<%= form_tag import_admin_course_students_path(admin_id: current_admin.id, course_id: @course.id), multipart: true do %>
  <%= file_field_tag :file, :required => true, "data-filename-placement" => "inside" %>
  <%= submit_tag "Import Students", class: "btn btn-submit" %>
<% end %>
