<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_admin_course_path(@course, @course.admin.id ) %> |
<%= link_to 'Back', admin_session_path %>
<br>
<br>
<h4> <%= @course.name %> </h4>
<h4> Section: <%= @course.section %> </h4>
<h4> <%= @course.semester %> <%= @course.year %> </h4>

<h1>Students</h1>

<table>
  <thead>
    <tr>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @course.students.each do |student| %>
      <tr>
        <td><%= link_to student.name, student_path(student, course_id: @course.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>

<%= link_to 'Add Student', new_student_path(@student, course_id: @course.id), class: 'btn btn-primary' %>